body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family:'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #000000;
}



/* Add a black background color to the navigation bar */
.topnav {
    background-color: #000000;
    overflow: hidden;
    position: fixed; /*Set the navbar to a fixed position*/
    z-index: 100;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */


}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 85px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.topnav a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* Vertical NavBar */
.vertical-menu {
  list-style: none;
	display: block;
	position: fixed;
	z-index: 999;
	top: 60%; /*affects vertical position of navBar*/
	margin-top: -215px;
	text-align: center;
  text-decoration: none;
}

.vertical-menu li{
  left: 0px;
	color: #E7E3E3;
	display: block;
	padding: 0 10px;
	line-height:60px;
	font-weight:800;
	border-bottom:2px solid #000000;
	text-align:left;
	width:53px;
	padding-left: 20px;
	cursor:pointer;
}

/* .vertical-menu li.active{
	font-size:16px;
	width:100px!important;
	line-height: 45px !important;
} */

/* Change font size when use hovers  */
.vertical-menu li:hover{
	padding-left: 24px;
	font-size: 120%;
}

/* .navigation li.active:hover{
} */

/* .vertical-menu .noborder{
	border: none !important;
	padding-left: 27px;
} */


/* Create a Parallax Effect */
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Set background images/sections */
.pimg1{
  background-image:url('../img/img1.jpeg');
  min-height: 100%;
}
.pimg2{
  background-image:url('../img/TubbBefore.jpg');
  min-height: 100%;
}

.pimg3{
  background-image:url('../img/TubbAfter.jpg');
  min-height: 100%;
}

.pimg4{
  background-image:url('../img/GreeceBefore.jpg');
  min-height: 100%;
}

.pimg5{
  background-image:url('../img/GreeceAfter.jpg');
  min-height: 100%;
}

.section{
  text-align: center;
  padding: 25px 100px;
}

.section-light{
  background-color: #FFFFFF;
  color:#000000;
}

.section-dark{
  background-color: #282e34;
  color:#FFFFFF;
}

/* style for the title on the home page */
.home{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.home .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

/* style join button */
.join{
  position: absolute;
  top: 135px;
  left: 43.5%;
  text-align: center;
  color: black;
  padding: 10px;
  background-color: white;
  border-style: solid;
  border-width: medium;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1em;
  cursor:pointer;
  text-decoration: none !important;
}
/* style for names of fires  */
.header{
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color:#FFFFFF;
  font-size: 24px;
  letter-spacing: 5px;
  text-decoration: none !important;
}

.header .border{
  background-color: #AE3A3A;
  padding: 20px;
}

/* style before/after text */
.diff{
  position: absolute;
  top: 10%;
  width: 180%;
  text-align: center;
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
}

.diff .border2{
  border-radius: 25px;
  background-color: #FFFFFF;
  padding:10px;
}
